# python version used is 3.10.6

# for scraping
beautifulsoup4
requests
lxml

# for knowledge base generation
pandas
sentence_transformers
chromadb

# for rag agent
langchain-community
langchain_huggingface
huggingface_hub
groq
dotenv

# for test notebooks
ipykernel